

 body{
   background-color:#DEF5E5;;
  }
  h1{
    color: #82CD47;

  }
  h3{
    color:#82CD47;
  }
 hr {
   border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 3.5px;
  width: 3%;
  }
